.form-holder div.alert {
	top: 0;
	margin-bottom: 0;
	width: 60%;
	position: fixed;
	z-index: 9999;
}
.form-content .form-items input.input-login {
	border-radius: 20px; 
	width: 125%
}
.form-content .form-items button.btn-login {
	background-color: indianred; 
	width: 125%; 
	border-radius: 50px; 
	height: 50px; 
	outline: none;
}